
<nav class="bg-light">
  <h2>Project Manager</h2> 
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="add-project" routerLinkActive>Add Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="task">Add Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-user">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="view-task">View Task</a>
      </li>
  </ul>
</nav> 
<router-outlet></router-outlet>
